* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  --dark: #2b2b28;
  --med: #e3b04b;
  --med-light: #f1d6ab;
  --light: #f8f8f8;
}

body {
  font-family: Arial, sans-serif;
  color: var(--dark);
  background-color: var(--light);
}

header {
  background-color: var(--dark);
  color: var(--light);
  padding: 20px 10px;
  margin-bottom: 10px;
}

ul {
  padding-left: 20px;
  list-style: none;
}

.replies {
  margin-left: 10px;
}

.main {
  position: relative;
}

.reply {
  /*border: 1px solid var(--med);*/
  position: relative;
  min-height: 80px;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 0px var(--med);
  background-color: var(--light);
}

.reply > p {
  margin: 10px 0;
}

.newReply {
  margin: 10px 5px 10px 5px;
}
.go-back-link {
  margin-left: 15px;
}
.thread {
  border: 2px solid var(--med);
  padding: 5px;
  margin: 15px;
  box-shadow: 2px 2px 0px var(--med);
  background: linear-gradient(var(--light), var(--med-light));
  border-radius: 5px;
}

.id {
  font-size: 10.5px;
}

#submitNewThread {
  margin-left: 15px;
}

#boards-list {
  margin-left: 5%;
}

h2 {
  margin: 10px 0;
}

#testui {
  display: grid;
  grid-template:
    "header header"
    "post-thread post-reply"
    "put-thread put-reply"
    "delete-thread delete-reply";
  margin-right: 5%;
}

#testui > h2 {
  grid-area: header;
}

section {
  display: inline-block;
  border: 1px solid var(--med);
  box-shadow: 2px 2px 0px var(--med);
  padding: 10px;
  width: 380px;
  border-radius: 5px;
  margin: 10px;
  background: linear-gradient(var(--light), var(--med-light) 60%, var(--med));
}
h3 {
  margin: 5px 0;
}
form {
  display: flex;
  flex-direction: column;
}
textarea {
  flex-grow: 1;
  font-family: Arial, sans-serif;
}

#post-thread {
  grid-area: post-thread;
}
#post-reply {
  grid-area: post-reply;
}
#put-thread {
  grid-area: put-thread;
}
#put-reply {
  grid-area: put-reply;
}
#delete-thread {
  grid-area: delete-thread;
}
#delete-reply {
  grid-area: delete-reply;
}

input[type="text"], input[type="submit"], textarea {
  padding: 5px;
  margin: 2px;
  width: 350px;
  border: 1px solid var(--med);
}
input[type="text"], textarea {
  box-shadow: inset 2px 2px 0px var(--med);
}
input[type="text"]:focus, input[type="submit"]:focus, textarea:focus {
  border: 1px solid blue;
}
input[type="submit"] {
  font-weight: bold;
}
/* form */
.deleteThread, .deleteReply {
  flex-direction: row;
  position: absolute;
  width: 200px;
  top: 10px;
  right: 10px;
}
.reportThread, .reportReply {
  flex-direction: row;
  position: absolute;
  width: 75px;
  top: 10px;
  right: 230px;
}
/* inputs */
.delete-pw {
  
}
.delete-btn {
  
}
.report-btn {
  
}

footer {
  box-sizing: border-box;
  background-color: var(--dark);
  color: var(--light);
  position: relative;
  bottom: 0px;
  width: 100%;
  margin-top: 10px;
  padding: 20px;
}

footer a, footer a:visited {
  color: var(--light);
}